/* CSS file */
/* hide from ie on mac \*/
html {height: 100%; overflow: hidden; padding:0px; margin:0px;}
#flashcontent {height:469; width:593;}
/* end hide */
body {font-family:Georgia, "Times New Roman", Times, serif; height: 100%; margin: 0px; padding: 0px; background-color: #ffffff; color:#afafaf;}
a:Link{color:#00CCFF;}
a:Visited{color:#00CCFF;}
a:Active{color:#00CCFF;}
a:Hover{color:#CC66CC;}